body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  color: #333;
}
h1 h2 {
  color: #333;
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.intro {
  text-align: center;
  margin-top: 40px;
}
.intro img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 8px;
  margin-top: 20px;
}
.hobbies {
  margin: 20px;
}
h1 {
  font-size: 24px;
}
.anime .swimming .dancing {
  margin: 40px;
}
.anime-img,
.swimming-img,
.dancing-img {
  text-align: center;
  margin-bottom: 30px;
}
.anime-img img,
.swimming-img img,
.dancing-img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, green, blue, alpha);
}
